 #background {
    width: 100%;
    height: 730px;
    text-align: center;
    position: relative;
    display: inline-block;
}

#header {
    width: 900px;
    height: 50px;
    margin-top: 10px;
    display: inline-block;
    font-size: 40px;
}

#collection-list {
    width: 900px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    display: inline-block;
    border-radius: 20px;
    padding-left: 0;
    list-style-type: none;
}

.collection-item {
    width: 850px;
    height: 180px;
    margin-top: 5px;
    background-color: rgba(255, 127, 80, 0.75);
    border-radius: 20px;
    position: relative;
    display: inline-block;
}



.course-img {
    width: 200px;
    height: 150px;
    border: black solid 1px;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}

.course-title {
    margin-top: 10px;
    font-size: 40px;
    float: left;
    margin-left: 30px;
    cursor: pointer;
}

.collect-time {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 330px;
    font-size: 20px;
}

.collect-time-label {
    position: absolute;
    bottom: 20px;
    left: 230px;
    font-size: 20px;
}

.cancel-collection-btn {
    width: 100px;
    height: 30px;
    background-color: rgba(252, 168, 143, 0.75);
    position: absolute;
    right: 10px;
    top: 60px;
    font-size: 15px;
    padding-top: 10px;
    border-radius: 20px;
    border: rgba(124, 73, 47, 0.5) solid 2px;
    cursor: pointer;
}




