:root {
    /* 页面宽度 */
    --page-width: 1400px;
}






#background-img {
    width: 110%;
    height: 110%;
    left: -10px;
    top: -10px;
    background-image: url(../images/background.png);
    position: fixed;
}
/* 页面头 */

body {
    text-align: center;
}

#background {
    width: var(--page-width);
    text-align: center;
    display: inline-block;
    color: black;
}

#header {
    width: var(--page-width);
    height: 50px;
    background-color: rgba(255, 127, 80, 0.75);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    position: fixed;
    text-align: center;
    z-index: 3;
}






/* 课程部分 */

#course-part-div {
    width: var(--page-width);
    height: 1000px;
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.5);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(2px);
    position: relative;
    margin-top: 100px;
}

#course-header {
    width: 100%;
    height: 150px;
    position: relative;
}

#lock-info-div {
    position: relative;
    float: left;
    top: 20px;
    width: 500px;
}

#lock-info {
    position: relative;
    display: inline-block;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 30px;
}

#course-lock-img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    float: left;
    margin-left: 50px;
    position: relative;
    display: inline-block;
}

#course-title {
    float: left;
    font-size: 50px;
    margin-top: 40px;
    margin-left: 40px;
    position: relative;
}

#left-pan {
    width: 900px;
    height: 600px;
    left: 0;
    position: absolute;
    display: inline-block;
    background-color: black;
    margin-left: 40px;
}

#chapter-video {
    width: 900px;
    height: 600px;
    position: relative;
}

#right-pan {
    width: 400px;
    height: 810px;
    background-color: rgba(190, 190, 190, 0.75);
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    right: 0;
    margin-right: 40px;
}

#chapter-list {
    width: 90%;
    height: 515px;
    position: relative;
    padding-top: 10px;
}

#chapter-header {
    width: 100%;
    height: 50px;
    padding-top: 20px;
    font-size: 20px;
    background-color: rgba(249, 249, 249, 0.5);
    border-radius: 20px 20px 0 0 ;
    position: relative;
    right: 0;
}

#right-pan hr {
    padding: 0;
    margin: 0;
    border: rgba(131, 131, 131, 0.5) solid 1px;
}

#chapter-list {
    margin-top: 0;
}

.chapter-item {
    position: relative;
    list-style-type: none;
    padding: 0;
    width: 90%;
    height: 30px;
    margin-top: 10px;
    background-color: rgba(255, 127, 80, 0.75);
    border: rgba(133, 59, 33, 0.75) solid 2px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
}

.lock-icon {
    width: 20px;
    height: 20px;
    float: left;
    position: relative;
    left: 10px;
    top: 5px;
}

.chapter-div {
    overflow: hidden;
    padding-left: 40px;
    padding-right: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.opt-icon {
    width: 100px;
    height: 40px;
    display: inline-block;
    float: left;
    margin-left: 30px;
    font-size: 30px;
    background-color: white;
    position: relative;
    border-radius: 20px;
    border: #c4613d solid 2px;
    cursor: pointer;
}

.opt-icon:hover {
    background-color: rgba(227, 117, 77, 0.75);
    color: white;
}

#like-num, #collect-num {
    width: 50px;
    height: 50px;
    background-color: chartreuse;
    position: relative;
    font-size: 30px;
    margin-left: 150px;
}

#course-description {
    width: 860px;
    height: 160px;
    margin-top: 40px;
    margin-bottom: 40px;
    position: absolute;
    bottom: 0;
    left: 40px;
    display: inline-block;
    background-color: rgba(180, 180, 180, 0.75);
    border-radius: 20px;
    text-align: left;
    padding: 20px;
    font-size: 20px;
}

#lock-state-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}



#lock-header {
    width: 500px;
    height: 70px;
    margin-top: 300px;
    color: white;
    position: relative;
    display: inline-block;
    font-size: 60px;
}

#unlock-btn-div {
    width: 1000px;
    height: 300px;
    margin-top: 80px;
    text-align: center;
    display: inline-block;
    position: relative;
}

#unlock-btn {
    width: 100px;
    height: 50px;
    display: inline-block;
    font-size: 20px;
    position: relative;
}

#price-div {
    position: relative;
    margin-top: 50px;
}

#price-label {
    font-size: 30px;
    color: #f9f9f9;
    position: relative;
    display: inline-block;
}

#price {
    font-size: 30px;
    position: relative;
    color: #f9f9f9;
    display: inline-block;
}






/* 评论区 */

#comment-part-div {
    width: var(--page-width);
    background-color: rgba(145, 145, 145, 0.5);
    position: relative;
    border-radius: 20px;
    margin-top: 50px;
}

#leave-comment-div {
    top: 20px;
    width: 1380px;
    height: 50px;
    background-color: rgba(255, 127, 80, 0.75);
    border-radius: 20px;
    display: inline-block;
    position: relative;
}

#write-comment-area {
    width: 1380px;
    height: 50px;
    display: inline-block;
    position: relative;
    margin-top: 10px;
}

#others-comment-div {
    width: var(--page-width);
    margin-top: 50px;
    position: relative;
}

#comment-input {
    width: 1100px;
    height: 30px;
    font-size: 20px;
    border-radius: 20px;
    border: 0;
    position: relative;
    padding-left: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

#submit-comment-btn {
    width: 100px;
    height: 35px;
    position: absolute;
    border-radius: 20px;
    bottom: 17px;
    right: 20px;
    border: rgba(189, 100, 72, 0.75) solid 2px;
    background-color: coral;
}

#comment-input-label {
    position: absolute;
    left: 40px;
    font-size: 20px;
}









/* 登录窗口 */

#login-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    position: fixed;
    z-index: 4;
}

#login-page {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
}

#login-pan {
    top: 100px;
    width: 500px;
    height: 600px;
    background-color: white;
    display: inline-block;
    float: none;
    position: relative;
    vertical-align: center;
}

.cancel-btn {
    top: 30px;
    right: 30px;
    width: 20px;
    height: 20px;
    position: absolute;
    text-align: center;
}

.cancel-btn img {
    width: 20px;
    height: 20px;
}

#login-form {
    height: 70%;
    width: 70%;
    margin-left: 50px;
    display: inline-block;
}

#login-form div {
    margin-top: 30px;
    float: left;
    margin-left: 10px;
}

.pan-title {
    margin-bottom: 80px;
    margin-top: 70px;
    font-size: 30px;
}

#login-form div input {
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
}

#account-input , #password-input {
    margin-left: 26px;
}

#verify-code-input {
    width: 70px;
    margin-left: 10px;
}

#verify-code-image {
    height: 35px;
    width: 100px;
    margin-left: 10px;
    cursor: pointer;
    position: absolute;
}

#option-btn-div input{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-right: 50px;
    float: none;
}











/* 注册窗口 */

#register-pan {
    top: 100px;
    width: 500px;
    height: 600px;
    background-color: white;
    display: none;
    float: none;
    position: relative;
    vertical-align: center;
}

#register-form {
    height: 70%;
    width: 70%;
    margin-left: 50px;
    display: inline-block;
}

#register-form div {
    margin-top: 30px;
    margin-left: 10px;
    float: left;
}

#register-form div input {
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
}

#account-input-r, #password-input-r {
    margin-left: 46px;
}

#password-confirm-input-r {
    margin-left: 14px;
}

#option-btn-div-r input{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-right: 50px;
    float: none;
}








/* 他人评论 */

#comment-list {
    position: relative;
    list-style-type: none;
    padding-left: 0;
    display: inline-block;
}

.comment-item {
    margin-top: 20px;
    width: 1380px;
    height: 200px;
    position: relative;
    border-radius: 20px;
    background-color: rgba(255, 127, 80, 0.75);
}

.comment-img {
    left: 0;
    width: 75px;
    height: 75px;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 163, 96, 0.75);
}

.comment-body {
    width: 1180px;
    height: 130px;
    background-color: rgba(128, 128, 128, 0.5);
    position: absolute;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 10px;
    margin-left: 115px;
    margin-top: 20px;
    text-align: left;
    font-size: 18px;
}

.user-name {
    width: 110px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 5px;
    margin-bottom: 70px;
    text-align: center;
}

.comment-submit-time {
    width: 700px;
    position: absolute;
    bottom: 10px;
    right: 70px;
    font-size: 20px;
    text-align: right;
}

.delete-comment-btn {
    width: 30px;
    height: 30px;
    right: 20px;
    top: 20px;
    position: absolute;
    cursor: pointer;
}

.delete-icon {
    width: 100%;
    height: 100%;
    position: relative;
}




#charge-confirm-btn {
    width: 100px;
    height: 30px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}