/* 页面头 */

#header {
    width: 1000px;
    height: 50px;
    background-color: red;
    display: inline-block;
    text-align: left;
}

body {
    text-align: center;
}

#background {
    width: 1000px;
    position: relative;
    display: inline-block;
    text-align: center;
}

#logo {
    left: 50px;
    width: 100px;
    height: 50px;
    position: relative;
}

#search-field-label {
    left: 130px;
    top: -20px;
    position: relative;
}

#search-field {
    left: 150px;
    width: 400px;
    height: 30px;
    top: -20px;
    border-radius: 20px;
    border: 0;
    position: relative;
    outline: none;
    padding-left: 20px;
}

#search-button {
    top: -10px;
    height: 30px;
    width: 30px;
    left: 150px;
    border-radius: 30px;
    border: 0;
    outline: none;
    background-color: aqua;
    position: relative;
}

#login-pan-btn {
    width: 100px;
    height: 20px;
    left: 250px;
    top: -20px;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 15px;
    border: none;
    position: relative;
}






/* 横幅 */

#banner {
    width: 1000px;
    height: 500px;
    overflow: hidden;
    display: inline-block;
    margin-top: 50px;
    text-align: center;
}

#banner-screen {
    display: block;
}

#banner-img {
    width: 1000px;
    top: -100px;
    position: relative;
    display: inline-block;
}

#banner-left-btn {
    width: 100px;
    height: 100px;
    position: relative;
    top: 200px;
    left: 0;
}

#banner-right-btn {
    width: 100px;
    height: 100px;
    position: relative;
    top: 200px;
    right: 0;
}

.arrow-img{
    width: 100px;
    height: 100px;
    position: relative;
    background-color: black;
}

.arrow-div {
    top: 0;
    left: 0;
    position: fixed;
}









/* 登录窗口 */

#login-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    position: fixed;
}

#login-page {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
}

#login-pan {
    top: 100px;
    width: 500px;
    height: 600px;
    background-color: white;
    display: inline-block;
    float: none;
    position: relative;
    vertical-align: center;
}

.cancel-btn {
    top: 30px;
    right: 30px;
    width: 20px;
    height: 20px;
    position: absolute;
    text-align: center;
}

.cancel-btn img {
    width: 20px;
    height: 20px;
}

#login-form {
    height: 70%;
    width: 70%;
    margin-left: 50px;
    display: inline-block;
}

#login-form div {
    margin-top: 30px;
    float: left;
    margin-left: 10px;
}

.pan-title {
    margin-bottom: 80px;
    margin-top: 70px;
    font-size: 30px;
}

#login-form div input {
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
}

#account-input , #password-input {
    margin-left: 26px;
}

#verify-code-input {
    width: 70px;
    margin-left: 10px;
}

#verify-code-image {
    height: 35px;
    width: 100px;
    margin-left: 10px;
    position: absolute;
}

#option-btn-div input{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-right: 50px;
    float: none;
}












/* 注册窗口 */

#register-pan {
    top: 100px;
    width: 500px;
    height: 600px;
    background-color: white;
    display: none;
    float: none;
    position: relative;
    vertical-align: center;
}

#register-form {
    height: 70%;
    width: 70%;
    margin-left: 50px;
    display: inline-block;
}

#register-form div {
    margin-top: 30px;
    margin-left: 10px;
    float: left;
}

#register-form div input {
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
}

#account-input-r, #password-input-r {
    margin-left: 46px;
}

#password-confirm-input-r {
    margin-left: 14px;
}

#option-btn-div-r input{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-right: 50px;
    float: none;
}






/* 提示界面 */

#attention-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    position: fixed;
}

#attention-page {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
}

#attention-pan {
    top: 300px;
    width: 300px;
    height: 200px;
    background-color: white;
    display: inline-block;
    float: none;
    position: relative;
    vertical-align: center;
}

#attention-head {
    display: inline-block;
}

.attention-cancel-btn {
    top: 30px;
    right: 30px;
    width: 20px;
    height: 20px;
    position: absolute;
    text-align: center;
}