:root {
    /* 页面宽度 */
    --page-width: 1200px;
}



/* 页面头 */

body {
    text-align: center;
}

#background {
    width: var(--page-width);
    text-align: center;
    display: inline-block;
    color: black;
}

#header {
    width: var(--page-width);
    height: 50px;
    background-color: red;
    position: fixed;
    text-align: left;
    z-index: 3;
}





#logo {
    left: 50px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    position: relative;
}

#search-field-label {
    left: 130px;
    top: -20px;
    position: relative;
}

#search-field {
    left: 150px;
    width: 400px;
    height: 30px;
    top: -20px;
    border-radius: 20px;
    border: 0;
    position: relative;
    outline: none;
    padding-left: 20px;
}

#search-button {
    top: -10px;
    height: 30px;
    width: 30px;
    left: 160px;
    border-radius: 30px;
    border: 0;
    outline: none;
    background-color: aqua;
    position: relative;
}

#login-pan-btn {
    width: 100px;
    height: 20px;
    right: 100px;
    top: 12px;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 15px;
    border: none;
    position: absolute;
    cursor: pointer;
}

#logout-div {
    width: 50px;
    height: 50px;
    float: right;
    position: relative;
    text-align: center;
    font-size: 20px;
    margin-right: 20px;
    padding-top: 10px;
    color: white;
    cursor: pointer;
    display: none;
}

#face-img {
    width: 50px;
    height: 50px;
    margin-right: 100px;
    background-color: white;
    position: relative;
    border-radius: 50%;
    float: right;
    cursor: pointer;
    display: none;
}






/* 登录窗口 */

#login-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    position: fixed;
    z-index: 4;
}

#login-page {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
}

#login-pan {
    top: 100px;
    width: 500px;
    height: 600px;
    background-color: white;
    display: inline-block;
    float: none;
    position: relative;
    vertical-align: center;
}

.cancel-btn {
    top: 30px;
    right: 30px;
    width: 20px;
    height: 20px;
    position: absolute;
    text-align: center;
}

.cancel-btn img {
    width: 20px;
    height: 20px;
}

#login-form {
    height: 70%;
    width: 70%;
    margin-left: 50px;
    display: inline-block;
}

#login-form div {
    margin-top: 30px;
    float: left;
    margin-left: 10px;
}

.pan-title {
    margin-bottom: 80px;
    margin-top: 70px;
    font-size: 30px;
}

#login-form div input {
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
}

#account-input , #password-input {
    margin-left: 26px;
}

#verify-code-input {
    width: 70px;
    margin-left: 10px;
}

#verify-code-image {
    height: 35px;
    width: 100px;
    margin-left: 10px;
    cursor: pointer;
    position: absolute;
}

#option-btn-div input{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-right: 50px;
    float: none;
}











/* 注册窗口 */

#register-pan {
    top: 100px;
    width: 500px;
    height: 600px;
    background-color: white;
    display: none;
    float: none;
    position: relative;
    vertical-align: center;
}

#register-form {
    height: 70%;
    width: 70%;
    margin-left: 50px;
    display: inline-block;
}

#register-form div {
    margin-top: 30px;
    margin-left: 10px;
    float: left;
}

#register-form div input {
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
}

#account-input-r, #password-input-r {
    margin-left: 46px;
}

#password-confirm-input-r {
    margin-left: 14px;
}

#option-btn-div-r input{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-right: 50px;
    float: none;
}









/* tag部分 */
#tag-part {
    width: var(--page-width);
    display: inline-block;
    position: relative;
}

#type-tag-div {
    margin-top: 70px;
    width: var(--page-width);
    height: 50px;
    background-color: coral;
    display: block;
    position: relative;
}

#tag-div {
    width: var(--page-width);
    height: 50px;
    background-color: coral;
    display: block;
    position: relative;
    margin-top: 5px;
}

#sort-div {
    width: var(--page-width);
    height: 50px;
    background-color: coral;
    display: block;
    position: relative;
    margin-top: 5px;
}

.label {
    position: relative;
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 15px;
}

.sort-btn {
    width: 70px;
    height: 30px;
    font-size: 15px;
    margin-top: 10px;
    position: relative;
    border-radius: 10px;
    border: 2px solid grey;
    cursor: pointer;
    float: left;
    margin-left: 20px;
}








/* 搜索结果部分 */
#search-result-list {
    width: var(--page-width);
    list-style-type: none;
    padding-left: 0;
    background-color: darkkhaki;
    position: relative;
    display: inline-block;
}

.result-item {
    width: 1000px;
    height: 180px;
    background-color: blueviolet;
    position: relative;
    display: inline-block;
}


.course-img {
    width: 200px;
    height: 150px;
    border: black solid 1px;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}

.course-title {
    margin-top: 10px;
    font-size: 40px;
    float: left;
    margin-left: 200px;
    cursor: pointer;
}

.type-label {
    top: 80px;
    font-size: 20px;
    left: 240px;
    position: absolute;
}

.type {
    top: 80px;
    left: 300px;
    font-size: 20px;
    position: absolute;
}

.tag-label {
    top: 80px;
    font-size: 20px;
    left: 440px;
    position: absolute;
}

.tag {
    top: 80px;
    left: 500px;
    font-size: 20px;
    position: absolute;
}

.update-time {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 350px;
    font-size: 20px;
}

.update-time-label {
    position: absolute;
    bottom: 20px;
    left: 240px;
    font-size: 20px;
}