:root {
    /* 页面宽度 */
    --page-width: 1200px;
}



#background-img {
    width: 110%;
    height: 110%;
    left: -10px;
    top: -10px;
    background-image: url(../images/background.png);
    position: fixed;
}



/* 页面头 */

body {
    text-align: center;
}

#background {
    width: var(--page-width);
    text-align: center;
    display: inline-block;
    color: black;
}

#header {
    width: var(--page-width);
    height: 50px;
    background-color: rgba(255, 127, 80, 0.75);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.25);
    position: fixed;
    text-align: left;
    z-index: 3;
}





#logo {
    left: 50px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    position: relative;
}

#search-field-label {
    left: 130px;
    top: -20px;
    position: relative;
}

#search-field {
    left: 150px;
    width: 400px;
    height: 30px;
    top: -20px;
    border-radius: 20px;
    border: 0;
    position: relative;
    outline: none;
    padding-left: 20px;
}

#search-button {
    height: 30px;
    width: 80px;
    left: 160px;
    border-radius: 30px;
    top: -19px;
    outline: none;
    background-color: rgba(255, 127, 80, 0.75);
    position: relative;
    cursor: pointer;
}

#face-img {
    width: 50px;
    height: 50px;
    margin-right: 100px;
    background-color: white;
    position: relative;
    border-radius: 50%;
    float: right;
    cursor: pointer;
    display: none;
}






/* 登录窗口 */

#login-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    position: fixed;
    z-index: 4;
}

#login-page {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
}

#login-pan {
    top: 100px;
    width: 500px;
    height: 600px;
    background-color: white;
    display: inline-block;
    float: none;
    position: relative;
    vertical-align: center;
}

.cancel-btn {
    top: 30px;
    right: 30px;
    width: 20px;
    height: 20px;
    position: absolute;
    text-align: center;
}

.cancel-btn img {
    width: 20px;
    height: 20px;
}

#login-form {
    height: 70%;
    width: 70%;
    margin-left: 50px;
    display: inline-block;
}

#login-form div {
    margin-top: 30px;
    float: left;
    margin-left: 10px;
}

.pan-title {
    margin-bottom: 80px;
    margin-top: 70px;
    font-size: 30px;
}

#login-form div input {
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
}

#account-input , #password-input {
    margin-left: 26px;
}

#verify-code-input {
    width: 70px;
    margin-left: 10px;
}

#verify-code-image {
    height: 35px;
    width: 100px;
    margin-left: 10px;
    cursor: pointer;
    position: absolute;
}

#option-btn-div input{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-right: 50px;
    float: none;
}











/* 注册窗口 */

#register-pan {
    top: 100px;
    width: 500px;
    height: 600px;
    background-color: white;
    display: none;
    float: none;
    position: relative;
    vertical-align: center;
}

#register-form {
    height: 70%;
    width: 70%;
    margin-left: 50px;
    display: inline-block;
}

#register-form div {
    margin-top: 30px;
    margin-left: 10px;
    float: left;
}

#register-form div input {
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
}

#account-input-r, #password-input-r {
    margin-left: 46px;
}

#password-confirm-input-r {
    margin-left: 14px;
}

#option-btn-div-r input{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-right: 50px;
    float: none;
}









/* tag部分 */
#tag-part {
    height: 200px;
    top: 70px;
    width: var(--page-width);
    display: inline-block;
    position: relative;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.5);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}

#type-tag-div {
    margin-top: 20px;
    width: 1150px;
    height: 50px;
    background-color: rgba(255, 127, 80, 0.9);
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.5);
    display: inline-block;
    border-radius: 20px;
    position: relative;
}

#tag-div {
    width: 1150px;
    height: 50px;
    background-color: rgba(255, 127, 80, 0.90);
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.5);
    display: inline-block;
    position: relative;
    border-radius: 20px;
    margin-top: 5px;
}

#sort-div {
    width: 1150px;
    height: 50px;
    background-color: rgba(255, 127, 80, 0.90);
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.5);
    display: inline-block;
    position: relative;
    border-radius: 20px;
    margin-top: 5px;
}

.label {
    position: relative;
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 15px;
}

.sort-btn {
    width: 80px;
    height: 30px;
    font-size: 15px;
    margin-top: 10px;
    position: relative;
    border-radius: 10px;
    border: 2px solid grey;
    cursor: pointer;
    float: left;
    margin-left: 20px;
}








/* 搜索结果部分 */
#search-result-list {
    width: var(--page-width);
    height: 700px;
    list-style-type: none;
    padding-left: 0;
    background-color: rgba(128, 128, 128, 0.5);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    position: relative;
    top: 100px;
    display: inline-block;
}

.result-item {
    width: 1150px;
    height: 180px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: rgba(255, 127, 80, 0.9);
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.5);
    position: relative;
    display: inline-block;
}


.course-img {
    width: 200px;
    height: 150px;
    border: black solid 1px;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}

.course-title {
    margin-top: 10px;
    font-size: 40px;
    float: left;
    margin-left: 200px;
    cursor: pointer;
}

.type-label {
    top: 80px;
    font-size: 20px;
    left: 240px;
    position: absolute;
}

.type {
    top: 80px;
    left: 300px;
    font-size: 20px;
    position: absolute;
}

.tag-label {
    top: 80px;
    font-size: 20px;
    left: 380px;
    position: absolute;
}

.tag {
    top: 80px;
    left: 440px;
    font-size: 20px;
    position: absolute;
}

.play-num-label {
    top: 80px;
    left: 600px;
    position: absolute;
    font-size: 20px;
}

.play-num {
    top: 81px;
    left: 680px;
    position: absolute;
    font-size: 20px;
}

.collect-num-label {
    top: 80px;
    left: 720px;
    position: absolute;
    font-size: 20px;
}

.collect-num {
    top: 81px;
    left: 800px;
    position: absolute;
    font-size: 20px;
}

.comment-num-label {
    top: 80px;
    left: 860px;
    position: absolute;
    font-size: 20px;
}

.comment-num {
    top: 81px;
    left: 940px;
    position: absolute;
    font-size: 20px;
}

.update-time {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 350px;
    font-size: 20px;
}

.update-time-label {
    position: absolute;
    bottom: 20px;
    left: 240px;
    font-size: 20px;
}








/* 没有搜索结果 */
#error-item {
    width: 1150px;
    height: 200px;
    position: relative;
    background-color: rgba(255, 127, 80, 0.75);
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.25);
}

#error-title {
    font-size: 50px;
    margin-top: 50px;
}