#background {
    width: 100%;
    height: 730px;
    text-align: center;
    position: relative;
    display: inline-block;
}

#face-img-background {
    width: 100%;
    position: relative;
    text-align: center;
}

#face-img-div {
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

#face-img {
    width: 100px;
    height: 100px;

}

#info-form {
    width: 900px;
    height: 500px;
    position: relative;
    display: inline-block;
    border-radius: 20px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.form-item-div {
    width: 900px;
    margin-top: 60px;
    margin-left: 50px;
    font-size: 20px;
}

.acc-item {
    display: inline-block;
}

.pwd-item {
    display: inline-block;
}

.signup-date-item {
    display: inline-block;
}

.balance-item {
    display: inline-block;
}

#charge-btn {
    width: 100px;
    right: 100px;
    height: 40px;
    background-color: rgba(255, 127, 80, 0.5);
    border-radius: 20px;
    border: rgba(124, 73, 47, 0.5) solid 2px;
    cursor: pointer;
    position: absolute;
    display: inline-block;
}